body {
    background: lightcyan;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: rgba(255, 255, 255, 0.973);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
}

div {
    text-align: center;
    padding: 8px;
}

img {
    border-radius: 50%;
    max-width: 80%;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
